1 ^Surrounding Lots^
2 ^City Shadows^
3 ^FSO Lighting^
4 ^Shadow Detail^
5 ^Force Z-Order^
6 ^Smooth Zoom^	
7 ^Object Shadows^

8 ^No surrounding lots. Gray void is drawn outside the lot.^
9 ^Empty surrounding lots. (just ground and trees)^
10 ^Full surrounding lots. (architecture, outdoor objects)^

11 ^3D Shadows^
12 ^City Skybox^

13 ^Adjust DPI Scaling^
14 ^Switch to 3D Mode^
15 ^Switch to 2D Mode^

16 ^Advanced Lighting:^
17 ^Off/FSO/+Walls/+Objs^
18 ^Directional Lighting (3D Only)^

19 ^Toggle Settings:^
20 ^Weather^
21 ^Graphics Options^
22 ^Detail:^