1 ^Skill Gameplay Enabled^
2 ^Visitor Skills Disabled^
3 ^Skill Gameplay Disabled^

4 ^You can only change skill gameplay when the lot is offline!^

5 ^Skill Gameplay Mode^
6 ^You can change how skills are handled on your lot. If skill gameplay is disabled, affected sims will not earn any money from money objects, or gain any skills. However, their skills will not decay either, allowing for more casual gameplay.^
7 ^Your lot type has skill gameplay disabled for visitors by default.^

8 ^Enable Skill/Money Gameplay^
9 ^Disable Skill Gameplay for Visitors^
10 ^Disable Skill Gameplay for All^