1 ^Surrounding Lots^
2 ^City Shadows^
3 ^FSO Lighting^
4 ^Shadow Detail^
5 ^Force Z-Order^
6 ^Smooth Zoom^	
7 ^Object Shadows^

8 ^No surrounding lots. Gray void is drawn outside the lot.^
9 ^Empty surrounding lots. (just ground and trees)^
10 ^Full surrounding lots. (architecture, outdoor objects)^

11 ^3D Shadows^
12 ^City Skybox^