1 ^Your friend count:

%s Friends
%s Enemies

Friendship web coming soon!^
2 ^FreeSO appears to have closed before you successully entered the game. Due to this, we have lowered all graphics to their minimum state. You can likely increase "Surrounding Lots" without issue, though it is not recommended to re-enable FSO lighting. If your game did not crash, you may be able to ignore this message.^