1 ^Writer^
2 ^Easel^
3 ^Board^
4 ^Jam^
5 ^Potion^
6 ^Gnome^
7 ^Pinata^
8 ^Phone^

9 ^%s Times^
10 ^Today's Bonus Object is %s^
11 ^No Bonus Object today.^
12 ^Latest News^
13 ^Recent News^

14 ^Front Page^
15 ^Money Object Payouts^
16 ^Payout History^

17 ^Next Page^
18 ^Previous Page^

19 ^Select a news story below to read more about it.^
20 ^Loading...^