<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FSO.Client.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="common">
          <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
    </configSections>
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="DEBUG" />
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
    <userSettings>
        <FSO.Client.GlobalSettings>
            <setting name="ShowHints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentLang" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="LoginServerPort" serializeAs="String">
                <value>2106</value>
            </setting>
            <setting name="ClientVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebugEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScaleUI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CityShadows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShadowQuality" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="SimulationShadows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AntiAlias" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EdgeScroll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Lighting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FXVolume" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MusicVolume" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="VoxVolume" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AmbienceVolume" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StartupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DocumentsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginServerIP" serializeAs="String">
                <value>173.248.136.133</value>
            </setting>
            <setting name="Windowed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GraphicsWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="GraphicsHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="LastUser" serializeAs="String">
                <value />
            </setting>
            <setting name="SkipIntro" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugHead" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebugBody" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebugGender" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugSkin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LanguageCode" serializeAs="String">
                <value>1</value>
            </setting>
        </FSO.Client.GlobalSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
