<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TSOClient.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TSOClient.GlobalSettings>
            <setting name="ShowHints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentLang" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="LoginServerPort" serializeAs="String">
                <value>2106</value>
            </setting>
            <setting name="ClientVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebugEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScaleUI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CityShadows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShadowQuality" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="SimulationShadows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AntiAlias" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EdgeScroll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Lighting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FXVolume" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MusicVolume" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="VoxVolume" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AmbienceVolume" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StartupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DocumentsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginServerIP" serializeAs="String">
                <value>173.248.136.133</value>
            </setting>
            <setting name="Windowed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GraphicsWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="GraphicsHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="LastUser" serializeAs="String">
                <value />
            </setting>
        </TSOClient.GlobalSettings>
    </userSettings>
</configuration>