<configuration>
    <dllmap dll="DevIL.dll">
    	<dllentry os="linux" dll="libIL.so.1" />
    	<dllentry os="windows" dll="DevIl.dll" />
    	<dllentry os="osx" dll="libIL.so.1" />
    </dllmap>
    <dllmap dll="ILU.dll">
    	<dllentry os="linux" dll="libILU.so.1" />
    	<dllentry os="windows" dll="ILU.dll" />
    	<dllentry os="osx" dll="libILU.so.1" />
    </dllmap>
    <dllmap dll="ILUT.dll">
    	<dllentry os="linux" dll="libILUT.so.1" />
    	<dllentry os="windows" dll="ILUT.dll" />
    	<dllentry os="osx" dll="libILUT.so.1" />
    </dllmap>
</configuration>
