<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Charvatia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Charvatia.Properties.Settings>
            <setting name="GamePath" serializeAs="String">
                <value>C:/Program Files/Maxis/The Sims Online/TSOClient/</value>
            </setting>
            <setting name="DebugLot" serializeAs="String">
                <value>firstHouse.xml</value>
            </setting>
        </Charvatia.Properties.Settings>
    </userSettings>
</configuration>