
tooltips

^Adult^
^Child^
^Female^
^Male^
^Dark^
^Medium^
^Light^
^Previous Body^
^Next Body^
^Previous Head^
^Next Head^
^Done^
^Cancel^

^No Personality!^
^Are you sure you want to create %s with no personality?^

// not used yet, but will be:
^CREATE A CHARACTER^
^PERSONALITY^
^Neat^
^Outgoing^
^Active^
^Playful^
^Nice^
^DONE^
^CANCEL^
^BIO^
^Bio for %s^

^Enter Name:^
^Astrological Sign^