^Purchase House?^
^Are you sure you want to buy this house?^

^Sorry!^
^This family cannot afford this house.^

^Congratulations!^
^You bought it.^

^Purchase Lot?^
^Do you want to buy this lot?^

^Purchase Pre-Made?^
^Do you want to buy a pre-made home?^

^Sorry^
^You must first place this family in a house^

^Community Space^
^You cannot place a family in community space.^

^House Occupied^
^This house is occupied by another family.^

^Tutorial House^
^This is a tutorial house.  Families may not move into it.^

^Error!^
^Could not move in!^

^House Full^
^This house is too full for you to enter at this time.^