	kOccupiedHouseText,
	kEmptyHouseTextNormalText,
	kEmptyHouseTextMoveInModeCannotAffordText,
	kEmptyHouseTextMoveInModeCanAffordText,
	kEmptyLotMoveInCannotAffordText,
	kEmptyLotMoveInModeCanAffordText,
	kTutorialText,
	kStreetAddressText,
	kTutorialCannotMoveInText,

^The %s Family
Net Worth: %s
Friends: %d^

^Cost: %s
Pick or create a family and move them in to play.^

^Cost: %s
The %s family only has %s.  They can't afford this house.^

^Cost: %s
This could be the house of your dreams!  If you buy, the family will have %s to spend on household items.^

^Cost: %s
The %s family only has %s.  They can't afford this lot.^

^Cost: %s
This could be the lot of your dreams!  If you buy this lot, the family will have %s to spend to build a house and buy household items.^

^To learn house to play the game...^

^%s Sim Lane^

^Can't move in to the tutorial house!^

^The %s Family
Net Worth: %s
Friends: %d
Click to evict this family.^

^Click to demolish this house.^

^There is no one to evict and nothing to demolish.^

^You cannot bulldoze the tutorial house until after you do the tutorial.^

^Welcome home %s!^
^Connect to house "%s" on "%s". There %s in this house.^
^Welcome home %s!  Your house is already online on "%s".  There %s in this house.^
^is 1 person^
^are %d people^