kPErrLocationOutOfBounds
^Location out of bounds^

kPErrLevelOutOfBounds
^Level out of bounds^

kPErrMustBeAtTileCenter
^Must be at center of tile^

kPErrMustBeInCorner
^Must be in corner^

kPErrCantBeInCorner
^Can't be in corner^

kPErrMustBeAgainstWall
^Must be against wall^

kPErrCantBeThroughWall
^Can't intersect wall^

kPErrMustBeOnUpstairsFloorHole
^Must be over hole in floor^

kPErrMustBeOutside
^Must be outside^

kPErrMustBeInside
^Must be inside^

kPErrCantIntersectOtherObjects
^Can't intersect other objects^

kPErrMustBeOnGround
^Must be on its own tile on the ground^

kPErrCantFindSlot
^Can't find a place to put it^

kPErrCantSupportWeight
^Can't support the weight^

kPErrCantSupportSize
^Can't support the size^

kPErrCantPlaceOnTop
^Can't place on top^

kPErrCantPlaceOnSlope
^Can't place on slope^

kPErrCantPlaceInAir
^Must place on second-story floor tile^

kPErrNotAllowedOnFloor
^Must be placed on terrain^

kPErrNotAllowedOnTerrain
^Must place on floor tile^

kPErrCantAfford
^Insufficient funds^

kPErrMustBeAgainstUnusedWall
^Must be against unused wall^

kPErrMustBeOnDiagonal
^Must be on diagonal^

kPErrHeightNotAllowed
^Must place on table or surface^

kPErrInsufficientFunds
^Insufficient Funds^

kPErrSpecialShowMoneyError
^User should never see this message^

kPErrHasWater
^Cannot add more water^

kPErrNoWater
^No water to delete^

kPErrCantPlaceOnWater
^Cannot place over water^

kPErrMustPlaceOnWater
^Must be placed on water^

kPErrMustPlaceOnPool
^Must be placed on pool tile^

kPErrMustBeOnFirstLevel
^Must be on first story^

// wall-specific
kPErr2ndFloorNeedsSupport,
^Second story wall needs support from first floor^

kPErrMustRemoveObjectsOnWall,
^Must remove objects on wall first^

// wallpaper-specific
kMustBeAgainst2ndFloorWall
^Must be on second floor wall^

kPErrCannotDeleteObject
^Can't delete object in use^

kPErrObjectNotOwnedByYou
^You do not own that!^

kPErrCounterHeight
^Must be placed on counter^

kPErrCantBePickedup
^Can't pick up^

kPErrInUse
^Can't select object in use^

kPErrCantBePickedupOutOfBounds
^Can't pick up--location out of bounds^

kPErrCantEffectFirstLevelFromSecondLevel
^Can't effect first level from second level^

kPErrCantPlaceInAirOtherLevel
^Must connect to second story^

kPErrNotAllowedOnFloorOtherLevel
^Can't intersect second-story object^

kPErrCannotPlaceComputerOnEndTable,
^Can't place on end table^

kPErrCannotDeletePoolWhilePeopleAreInIt
^Can't delete pool with Sims in it^

kPErrMustRemoveLadderOrDivingBoardBeforeDeletingPool
^Must first delete ladder or diving board^

kPErrCannotWallpaperFence
^Can't place wallpaper on fences^

kPErrMustHaveMoreSpaceFromCeiling
^Must have more space from ceiling^

kPErrTooManyObjectsOnTheLot
^Property object limit exceeded^

kpErrCantPlaceOnForSaleObject
^Can't place on for-sale object^
