^First Story^
^Second Story^
^Roof^
^Rotate Left^
^Rotate Right^
^Zoom In +^
^Zoom Out -^
^Walls Up^
^Walls Cutaway^
^Walls Down^
^Live Mode - F1^
^Buy Mode - F2^
^Build Mode - F3^
^Options Mode - F5^
^Funds^
^^
^^
^^
^^
^^
^Friend Count^

^AM^
^PM^

^Help^
