^(10;75)^		// position of flat button, in subpanel coords
^Flat Roof Pitch^	// tooltip

^(10;51)^		// position of shallow button, in subpanel coords
^Shallow Roof Pitch^	// tooltip

^(10;26)^		// position of medium button, in subpanel coords
^Medium Roof Pitch^	// tooltip

^(10;-4)^		// position of steep button, in subpanel coords
^Steep Roof Pitch^	// tooltip


^(58;26)^		// position of left page, in subpanel coords
^Previous Page^	// tooltip

^(254;26)^		// position of right page, in subpanel coords, in 800x600 mode
^(437;26)^		// position of right page, in subpanel coords, in 1024x768 mode
^Next Page^	// tooltip

^(74;3)^		// top left of first roof pattern, in subpanel coords

^Roof Pitch^
^The pitch (steepness) of the roof can be modified. Choices include flat, shallow, medium and steep. Experiment with different roofs and see which suits your property best. There is no cost for roofs.^

^Roof Patterns^
^A roof pattern will be applied to your property as soon as you click on a pattern in the Control Panel.^

^(10;91)^
^Flat Roof Pitch^

