^Tile cannot be modified^
^Altitude is already as high as possible^
^Altitude is already as low as possible^
^Object requires flat surface^
^Can't divide a multi-tile object^
^Insufficient funds^
^Must be on first story^
