Room sort tooltips

^Living Room^
^Dining Room^
^Bedroom^
^Study^
^Kitchen^
^Bathroom^
^Outside^
^Miscellaneous^

functional sort tooltips

^Seating^
^Surfaces^
^Decorative^
^Entertainment^
^Appliances^
^Plumbing^
^Lighting^
^Miscellaneous^
