^The Sims Online^
^Quit^
^Are you sure you want to quit?^
^Save^
^Do you want to save the game?^
^Quit^
^Do you want to save before quitting?^
^Reset Tutorial^
^Are you sure you want to reset the tutorial? The current family in that lot will be evicted.^
^The tutorial could not be reset.^
^An error was encountered exporting HTML^
^Export HTML^
^An error occurred exporting the family.^
^Export Family^
^An error was encountered saving the house.^
^Save House^
^Some objects on the property could not be loaded.^
^Missing Objects!^
^The property could not be loaded.^
^Load Property^
^The runtime directory could not be located.^
^Fatal Error^
^Missing Textures^
^The following textures could not be loaded. People may not look right.^
^Standby Mode Error^
^Standby Mode unavailable while playing the game.^
^The game is now shutting down^