^Previous Page^
^Next Page^
^Insufficient funds^
^No Description^
^Maxis™ is an Electronic Arts™ brand.^
^(c) 2002, 2003 Electronic Arts Inc. All rights reserved.^
^Most compatible with: ^
^Least compatible with: ^
^Disable Quick Tips?^
^Quick Tips allow the popup windows in the Control Panel to appear without pausing or requiring a mouse click. Now that you are more familiar with the game would you like to turn off Quick Tips?^
^^ was 'The Sims Version 1.0'
^Build Version^
^House Rating^
^^ was 'Friend Rating'
^^ was 'Job Rating'
^Mood Rating^
^^ was 'School'
^Internal Error:%ld^

