^Starting App init^
^Registering resources^
^Setting up controls^
^Initializing graphics^
^Extruding Terrain Web^
^Calculating Domestic Coefficients^
^Readjusting Career Ladder^
^Accessing Money Supply^
^Hacking the Social Network^
^Downloading Reticulated Splines^
^Adjusting Emotional Weights^
^Calibrating Personality Matrix^
^Setting up personfinder^
^Finished app init^
^Tweaking Chaos Control^
^Loading Characters^
^Setting up objects^
