^Game cannot be started because:^
^DirectX 7 is required. It could not be located.^
^Fatal Error!^
^Game requires a Pentium processor (or equivalent), or better. One was not found.^
^Color must be set to 16 bit (high color).^
^Operating System not recognized. Must be run in Windows 98, XP or ME.^
^The screen resolution is too low. Set to 800x600, 1024x768, or higher.^
^The Sims Online is already running!^
^The default graphics card doesn't support Thousands of Colors.^
^Exit now.^
^There is not enough memory or hard drive space to run.^
^The Sims Online does not support changing the display resolution while the game is running.  The game must quit now.^
^The Sims Online does not support changing the display resolution while the game is running.  The game must quit now.^
^Not Supported!^
