^There are no actions available^
^This can only be used by adults^
^This can only be used by kids^
^This can only be used by dogs^
^This can only be used by cats^
^This can only be used by pets^
^This can only be used by people^
^This can only be used by auto pets^
^Sim is carrying something^
^%s - (ignoring you)^
^Roommate - %s^
^Owner - %s^
^Roommate - %s - (ignoring you)^
^Owner - %s - (ignoring you)^
^%s is leaving the lot^
^Person^
^Object is pending deletion because its owner has moved out^
^Sim is busy...^
^%s - (you are ignoring this sim)^
^Roommate - %s - (you are ignoring this sim)^
^Owner - %s - (you are ignoring this sim)^
^The local Property Category does not allow interaction with this object^
^Retail Price: %s
On Sale: %s^
^Select in Buy Mode for purchasing information^
^This object is temporarily disabled^
^Turned Off^
^Owner Maintenance Needed^
^Buy transaction not yet complete^
