^Hunger: %d^
^Comfort: %d^
^Hygiene: %d^
^Bladder: %d^
^Energy: %d^
^Fun: %d^
^Room: %d^
^+ Cooking^
^+ Mechanical^
^+ Logic^
^+ Body^
^+ Creativity^
^+ Charisma^
^ ^
^ ^
^Can only be used by kids^
^Group Activity^
