^p^ pause
^~^ pause
^q^ quit
^a^ toggle anti-aliasing
^s^ toggle shadows
^v^ show version
^y^ standard "yes" key
^n^ standard "no" key
^,^ rotate left
^.^ rotate right
^=^ zoom in
^-^ zoom out
^1^ speed 1
^2^ speed 2
^3^ speed 3
^+^ zoom in
^_^ zoom out
^<^ rotate left
^>^ rotate right
^`^ pause

21 ^X^ ctl-X -> Cut
22 ^C^ Copy
23 ^V^ Paste 
24 ^Z^ Undo
25 ^Y^	Redo

26 ^x^ next catalog page
27 ^z^ previous catalog page
28 ^t^ toggle framerate

29 ^A^ select all text ctl-A
30 ^Q^ quit ctl-Q
31 ^S^ save ctl-S