1  ^Cancel^
2  ^Accept^
3  ^Enter your Sim's name here. This is the name other players will know you by and cannot be changed later.^
4  ^Other players will be able to see this description from your Sim page in the game. Don't worry about getting it exactly right... you can change it later.^
5  ^Exit Game^
6  ^Female^
7  ^Male^
8  ^Light Color Skin^
9  ^Medium Color Skin^
10 ^Dark Color Skin^
11 ^The name you have entered is invalid. The following problem(s) have been found:^
12 ^- Name too short. Need at least 3 characters.^
13 ^- Name too long. At most 24 characters are allowed.^
14 ^- No numeric (0-9) characters are allowed.^
15 ^- Only one apostrophe (') allowed.^
16 ^- Only one dash (-) allowed.^
17 ^- Only two non-contiguous spaces allowed.^
18 ^- No special characters allowed.^
19 ^- A reserved or improper word has been detected.^
20 ^Scroll Up^
21 ^Scroll Down^
22 ^Create Your In-Game Identity^
23 ^Fav. music: 
Fav. movie:
Turn ons:
Turn offs:
 Quote: ^
24 ^Creating New Sim...^
25 ^Please wait while your new Sim is being created...^