1  ^Live Mode - F1^
2  ^Buy Mode - F2^
3  ^Build Mode - F3^
4  ^Property Mode - F4^
5  ^Options Mode - F5^
6  ^First Floor^
7  ^Second Floor^
8  ^Walls Down^
9  ^Walls Cutaway^
10 ^Walls Up^
11 ^Roof^
12 ^Close Zoom^
13 ^Medium Zoom^
14 ^Far Zoom^
15 ^Neighborhood^
16 ^City^
17 ^Zoom In^
18 ^Zoom Out^
19 ^Rotate Right^
20 ^Rotate Left^
21 ^Relationship Web^
22 ^Inbox^
23 ^Help^
24 ^Budget Window^
25 ^Select Property View^
26 ^Character Name^
27 ^Current Time^
28 ^Available Funds^
29 ^Bookmarks^
30 ^You have %d new message(s)^
31 ^> ^