1  ^Roommates:^
2  ^Build Permission^
3  ^Uncheck this box to remove build permission^
4  ^Check this box to grant build permission^
5  ^Save settings^
6  ^Sorry, your %s privilege has been revoked by the property owner!^
7  ^Roommate Privileges^
