1  ^Close^
2  ^Enter The Property^
3  ^Scroll Left^
4  ^Scroll Right^
5  ^Property Name^
6  ^Property Description^
7  ^Contract^
8  ^Expand^
9  ^Scroll Up^
10 ^Scroll Down^
11 ^The Property Is Offline^
12 ^Enter the password to change the property description.^
13 ^The password is incorrect.^
14 ^Wrong Password^
15 ^The name you have entered is invalid. The following problem(s) have been found:^
16 ^- Name too short. Need at least 3 characters.^
17 ^- Name too long. At most 24 characters are allowed.^
18 ^- No numeric (0-9) characters are allowed.^
19 ^- Only one apostrophe (') allowed.^
20 ^- Only one dash (-) allowed.^
21 ^- Only two non-contiguous spaces allowed.^
22 ^- No special characters allowed.^
23 ^- A reserved or improper word has been detected.^
24 ^Click To Edit Your Property Name^
25 ^Number Of Sims In The Property^
26 ^Property Category: %s^
27 ^ - Click To Change^
28 ^Property Value^
29 ^The property category can only be changed by the property leader.^
30 ^Your property must be unoccupied before you can change its property category.^
31 ^This property category cannot be changed again for about %d day(s).^
32 ^Verifying that your property is unoccupied and closed.... Please try again in about %d seconds.^
33 ^Neighborhood Affiliation^
34 ^Click To Edit Your Neighborhood Affiliation^
35 ^Neighborhood^
36 ^You have created a pending neighborhood. Your neighbors will see this neighborhood as an option in their property pages. A neighborhood name will appear on screen once there are at least three members properties. To appear at city view, your neighborhood must be one of the ten largest in the city.^
37 ^Neighborhood Created^
38 ^You have successfully joined a neighborhood. Make sure you talk with the neighborhood leader to understand what their goals for the neighborhood are. If a neighborhood has at least three member properties, its name appears in the close map zoom. To appear at city view, your neighborhood must be one of the ten largest in the city.^
39 ^Neighborhood Joined^

