1  ^Done^
2  ^Cancel^
3  ^Close^
4  ^Petition Type Harassment^
5  ^Petition Type Stuck^
6  ^Petition Type Other^
7  ^Petition Description^
8  ^Contact Customer Service^
9  ^Please describe your problem in the space below:^
10 ^Type of problem:^
11 ^Harassment^
12 ^Stuck^
13 ^Other^
14 ^Customer Service Notification^    Disciplinary Action dialog Title - Used in SystemMessageRegulator.cpp	JPS 6/16/2002

Below strings are for the Global Petitioning System. Added by adavies@ea.com 7/1/2002

15 ^Petition Submitted^  
16 ^Petition Submit Failed^  
17 ^Your incident has been logged and we will take the appropriate action.  Please note that any Sims you have complained about have been added to your ignore list. Thank You.^
18 ^There was a problem logging your incident. Please contact EA customer support. Please note that any Sims you have complained about have been added to your ignore list. Thank you.^

19 ^Petition Resolved^
20 ^Your petition was resolved on ^