1 ^Enter a numeric sequence between 1 - 9 digits long. This code will be required to pass through.^
2 ^Door Fee^
3 ^Exempt:^
4 ^Friends^
5 ^Employees^
6 ^Allow these Sims access through this door^
7 ^Roommates^
8 ^Visitors^
9 ^Permission Door^
10 ^Pay Door^
11 ^Code Door^
12 ^Secret Code^
13 ^Door Fee^
14 ^Shutdown^
15 ^Loading...^
16 ^$^
