1  ^Allow Read^
2  ^Allow Write^
3  ^Save current panel changes^
4  ^Edit permissions settings^
5  ^Close sign^
6  ^Roommates^
7  ^Friends^
8  ^Visitors^
9  ^Edit sign text^
10 ^Scroll sign text^
11 ^Read only^
