1  ^Bookmarked Sims^
2  ^Ignore List^
3  ^Sim Page^
4  ^Delete Bookmark^
5  ^Send Message^
6  ^Close^
7  ^Scroll Up^
8  ^Scroll Down^
9  ^Add this new friend to your bookmarks?^
10 ^You made a friend!^
11 ^Remove From Ignore List^
12 ^Can't Unbookmark Roommate^
13 ^Roommates are always bookmarked.^
