1 ^Close^
2 ^Play^
3 ^Pause^
4 ^Increase Minutes^
5 ^Decrease Minutes^
6 ^Increase Seconds^
7 ^Decrease Seconds^
8 ^Set Timer^
9 ^Choose Timer Mode^
10 ^Stopwatch^
11 ^Countdown^
12 ^Set Timer^
13 ^:^

