1 ^Close^
2 ^Send Message^
3 ^Help^
4 ^Sort By Subject^
5 ^Sort By Sender^
6 ^Sort By Date^
7 ^Sort By Type^
8 ^Sort By Urgency^
9 ^Delete^
10 ^Select Recipient^
11 ^Scroll Up^
12 ^Scroll Down^
13 ^Delete Message^
14 ^Are you sure you want to delete this message?^
15 ^Delete^
16 ^Reply^
17 ^RE: ^
18 ^Sim Not Found^
19 ^A Sim with the name you selected doesn't exist and cannot be messaged...^
20 ^Sun^
21 ^Mon^
22 ^Tue^
23 ^Wed^
24 ^Thu^
25 ^Fri^
26 ^Sat^
27 ^Retrieving New Messages...^
28 ^Overall Progress:^
29 ^Current Task:^
30 ^Retrieving message %d / %d^
31 ^Total message count: %d / Unread messages: %d^
32 ^EA_REP_^
33 ^Delete all messages of this Type^
34 ^Delete all messages from this Sender^
35 ^Are you sure you want to delete all messages of this type?^
36 ^Are you sure you want to delete all messages from this sender?^


