 1 ^Anchovies^
 2 ^Cheese^
 3 ^Dough^
 4 ^Mushrooms^
 5 ^Pepperoni^
 6 ^Sauce^
 7 ^need ingredient^

 8 ^Large ^
 9 ^Medium ^
10 ^Small ^

11 ^Body: ^
12 ^Cooking: ^
13 ^Charisma: ^

14 ^need Sim^

15 ^Four Sims are needed to make a pizza.^
16 ^Waiting for a call...^
17 ^Taking an order...^
18 ^Each player should add an ingredient.^
19 ^Ingredients going in...^
20 ^Baking the pizza...^
21 ^Your pizza is a charred mess!^
22 ^Good job!  A successful pizza!^
23 ^Mama-mia!  Pizza Supreme!^