1 ^Add this Sim to your Property Ban List.^
2 ^Add this Sim to your Ignore List.^
3 ^You have successfully kicked "%s" out of your property. Would you like to ban or ignore them?^
4 ^Ban Or Ignore A Sim^
5 ^This player has been added to your Ban List. You will need to activate the Ban List in the Property Panel to make the ban take effect.^
6 ^Ban Info^
