1 ^Dance to the Music^
2 ^Close^
3 ^Side Bop^
4 ^Bus Driver^
5 ^Wave^
6 ^Punch Out^
7 ^Shimmy^
8 ^Boogie^
9 ^Point^
10 ^Shuffle Turn^
11 ^Pelvic Thrust^
12 ^Signature Point^
13 ^The Monkey^
14 ^Freestyle^
15 ^Shop Around^
16 ^Rhumba^
17 ^Hula^
18 ^Hula Turn^
19 ^Heel Toe^
20 ^Step Turn^
21 ^Scoot^
22 ^Heel Out In^
23 ^The Zombie^
24 ^The Robot^
25 ^Hyperspin^
26 ^Moonwalk^
