1  ^You've got messages!^
2  ^You have received 1 new mail message. Would you like to read it now?^
3  ^You have received %d new mail messages. Would you like to read them now?^
4  ^Sorry. I can't respond now. My message queue is full.^
