1  ^http://thesimsonline.custhelp.com/cgi-bin/thesimsonline.cfg/php/enduser/std_adp.php?p_sid=gMiPudmg&p_lva=&p_faqid=7764&p_created=1028858347&p_sp=cF9ncmlkc29ydD1mYXFzLmZhcV9pZDpEJnBfcm93X2NudD0xMTQmcF9wYWdlPTE*&p_li=/^  How to ignore someone URL
