1  ^Complaint^
2  ^Harassment Complaint^
3  ^Cheating/Exploiting Complaint^
4  ^Illegal Activity Complaint^
5  ^Hateful Language/Behavior Complaint^
6  ^Improper Property/Sim/Sign Name Complaint^
7  ^To submit a petition, please fill in all the requested information.  Please use this tool only for legitimate complaints.  Misuse may result in action taken against your account.^
8  ^What is your complaint regarding?^
9  ^Please Note: We do not accept petitions regarding Obscenity, Profanity in Chat, Phone Calls or Mail.  Please use the "Ignore" feature to avoid being bothered.^
10 ^Brief Description of Problem.^
11 ^Detailed Description of Problem.  Be sure to describe the role of every Sim you have selected on the left.^
12 ^Select up to %d Sims or %d Property from the list below (use Ctrl-Click for multiple select). If the offending Sim is not on the list, you can add them by using the edit box below.^
13 ^Objects in game (something spelled or created using objects)^
14 ^Text Alerts (Descriptions, names, signs or notes)^
15 ^Sim (Chat, Messaging, Sim description or name)^
16 ^Cancel^
17 ^Exit back to game^
18 ^Cannot find Sim^
19 ^The Sim you tried to add was not found.^
20 ^Add^
21 ^Add Property or Sim to list above^
22 ^Back^
23 ^Go back to the previous dialog^
24 ^Submit^
25 ^Submit the petition^
26 ^Scroll up^
27 ^Scroll down^
28 ^Complain in regards to Objects^
29 ^Complain in regards to Text^
30 ^Complain in regards to Sims^
31 ^^
32 ^^
33 ^^
34 ^^

These strings have constants in the code.  If their ID changes then the code needs to be updated and compiled.
35 ^Petition Form^
36 ^Please type in the name of the Sim you would like to add into the text edit box next to the Add button before clicking on Add.^
37 ^That entry already exists.  Please only add unique Sim names.^
38 ^^
39 ^^

These are tooltips for the submit button
40 ^Need complaint type^
41 ^Need to select Sim or property^
42 ^Need brief description^
43 ^Need detailed description^
