 
1  ^Complain about a Player^
2  ^Harassment^
3  ^Cheating/Exploiting^
4  ^Illegal Action^
5  ^Hateful Language or Behavior^
6  ^Improper Property/Sim/Sign Name or Description^
7  ^Improper Language in Chat or Messaging^
8  ^Other^
9  ^If another player is causing you grief, it is important that you make a legitimate effort to improve the situation BEFORE you file a complaint. Examples of this are adding the offending player to your ignore list, moving to a different area, or politely asking them to stop. However, if you are being continually harassed, threatened, embarrassed, or having another player doing anything else that is unwanted, use this category to file a complaint. The Sims Online Staff will take the appropriate action.^
10 ^Cheating in The Sims Online is defined as using an imperfection in the game or other third party software to gain an unfair advantage. If another player mentions that they found a quick way to gain Simoleans that is clearly not intended as a way to earn an income, this type of behavior should be reported as it could be taking advantage of a flaw in the game design not meant for player use. Also, use this category if you have been scammed. SCAMS include such activities as falsely representing one's intentions at another's expense, swindles, confidence games, acquiring another player's in-game assets without the agreed-upon repayment, or refusing to provide an agreed-upon in-game service after collecting in-game payment. The Sims Online Staff will take the appropriate action in all of these matters.^
11 ^The laws that apply in the offline world must be obeyed online as well. We have zero tolerance for illegal behavior in The Sims Online. Use this complaint category if a player is discussing topics that involve real-world acts of crime, similarly unacceptable discussion, soliciting buyers for game items that involve real world cash, impersonating The Sims Online staff, and so forth.^
12 ^Hateful Language or Behavior includes (but is not limited to) comments that are disrespectful to any religion, nationality, ethnicity, or sexual orientation. Unlike harassment, this complaint category should be used when a player is performing actions in the game that are generally disruptive to all others in the game space. This could be done by players either verbally or with game deeds and it is clear that ignoring them or asking them politely to stop is having no effect.^
13 ^If you notice a sign or a description on a property or Sim that is clearly offensive or in some way objectionable, please file a complaint using this category.^
14 ^You can ignore or filter offensive language through the use of in-game options. To Ignore another player, please click the "Ignore a Sim" button below and add offensive Sims to your permanent Ignore List. To add specific words in which you never want to see, access the Chat Filter (located in the Options section of the Universal Control Panel at the bottom of the screen) and add the offensive words to your filter list. For more help, press "Back" to return to the Help page and type in your question.^
15 ^For help with issues concerning your account, technical support, game play questions or anything else, press "Back" to return to the Help page and type in your question.^
16 ^Please select a complaint type from the list on the left.^
17 ^We only accept complaints regarding violations of The Sims Online Terms of Service. Please use this tool only for legitimate complaints. Misuse may result in action being taken against your account.^
18 ^How to "Ignore" another player^
19 ^Provides information on steps to take to ignore another player in The Sims Online. Note that this will launch a web browser on your desktop.^
20 ^View The Sims Online Terms of Service^
21 ^Provides information regarding The Sims Online Terms of Service. Note that this will launch a web browser on your desktop.^
22 ^Back^
23 ^Return to The Sims Online Player Petitioning Help dialog.^
24 ^Cancel^
25 ^Cancel complaint submission and return to The Sims Online.^
26 ^Continue^
27 ^Proceed to next step of complaint submission process.^
28 ^No complaint type selected. Cannot continue until Complaint type selected from list at left.^
29 ^Improper chat/messaging is not petitionable (see description above). Cannot continue.^
30 ^"Other" complaints are not petitionable (see description above). Cannot continue.^
31 ^http://www.ea.com/global/legal/tos.jsp^
32 ^We were unable to launch your Internet browser.  If you are an AOL customer then please launch AOL now and click the same button on this dialog again.  Otherwise, please visit our web site at www.TheSimsOnline.com for links to our Help pages.^
