1 ^Enter Word:^
2 ^Enable Profanity Filter^
3 ^Add Word^
4 ^Remove Word^
5 ^Word Entry^
6 ^Enable Filtering^
7 ^The password is incorrect.^
8 ^Wrong Password^
9 ^The Profanity Filter is currently locked and cannot be unlocked in-game. If you want to change the Profanity Filter lock, please login to www.ea.com and change this setting to your account.^
10 ^Profanity Filter is locked.^
11 ^Current Chat Color:^
12 ^Select Next Color^
13 ^Select Previous Color^
14 ^<SomeColor>^