1 ^What City Do You Want to Live In?^
2 ^Ok^
3 ^Cancel^
4 ^Scroll Up^
5 ^Scroll Down^
6 ^City Name^
7 ^Online^
8 ^Sims Online^
9 ^Status^
10 ^Sort By City Name^
11 ^Sort By City Online Status^
12 ^Sort By Number Of Sims Online^
13 ^Sort By City Status^
14 ^Yes^
15 ^No^
16 ^Busy^
17 ^Full^
18 ^Busy/Full^
19 ^Ok^
20 ^City Not Available^
21 ^You already have a Sim created in that city. You are allowed only one Sim per city. To create another Sim in this city you have to first retire the previous Sim...^
22 ^City Is Full^
23 ^This City is full, sorry! No one can create any more new Sims for this city...^
24 ^City Is Busy^
25 ^This city is temporarily busy and cannot accept any new connections. Please try again in a few minutes...^
26 ^Closed^
