1 ^A^
2 ^B^
3 ^C^
4 ^Correct:^
5 ^Earned:^
6 ^Waiting for three letters...^
7 ^Checking the results...^
8 ^/3 of those letters are correct.^
9 ^Correct!^
10 ^Puzzle Pay:^
11 ^Skill Pay:^
12 ^Total:^
13 ^Letter^
14 ^Waiting for all three slots to be filled^
15 ^Last Guess^
16 ^Body: ^
17 ^Mech: ^
18 ^Logic: ^
