// city description strings
1 ^Considered a land for those who are playful in spirit, we encourage fun-seekers to feel the heat of Blazing Falls!  Miles and miles of warm tropical beaches, complimented by a smattering of “brochure quality” islands, seem unattainable, but are well within reach in this picturesque wonderland!  Build your humble abode or blazing business by the sea, or for a change of pace, move in-land amongst the tropical green forests.

A multitude of paradises, all in one city!   Who wouldn’t like to call this dreamscape ‘home’?^

2 ^If you consider yourself to be the industrious type, the good life begins in Alphaville!  Come make beautiful Alphaville your home, where you can warm your feet on our sandy beaches, or cool off in our snow-capped mountains.  The beautiful blue oceans and lakes beckon you to enter our world of seasonal splendor.

Whether you are searching for an alpine retreat, or a coastline bungalow, there’s something for everyone in Alphaville.^ 

3 ^Welcome to the Test Center, where you can choose to live life  in the fast lane and with total unpredictability! This is where the newest technologies are tried and tested, blazing trails for the world of The Sims Online!^

4 ^If you wish to satisfy the romantic in you, build your nest in Interhogan!  Build your cabin in the sky atop the snow capped mountains of Incredulity or construct your little grass shack on Interhogan’s Outer Banks.  You simply cannot go wrong when choosing real estate in this lush paradise of tranquility.  Enjoy the lakeside living or start your pleasant plantation amidst the grassy plains.  Live and work in the lap of luxury in beautiful, romantic Interhogan!^

5 ^Creative types from all around the world have dropped anchor and have chosen to call Ocean's Edge their haven!  Beaches galore highlight the landscape of this tropical wonderland.  If you like sea, sun and sand, this is the place for you.  Crystal blue warm water laps against the coastline providing the ultimate beachfront homestead possibilities.  Perfect surroundings for the landscape artist in you, Ocean's Edge also has a gracious helping of rolling hills, grassy green fields and even a touch of icy white powder, for the rugged homesteader in all of us.  Dive into the artistic beauty of Ocean's Edge!^ 

6 ^“We’re much nicer than West Jerome” is the slogan of this humble city of industry, and the inhabitants couldn’t be more right!  Placid rivers and lakes, emerald pastures against dramatic cliffs make for some of the most picturesque scenery East of the Western Hemisphere.  Frolic in the meadow while basking in the sunlight of East Jerome!  (Not affiliated in any way with West Jerome.)^

7 ^Join the establishment of wealth and beauty in Fancey Fields.  Live the life of someone who is repulsed by anything that less than beautiful at Fancey Fields.  Look at the beautiful beaches, the beautiful water, the beautiful landscape, the beautiful people.  Surround yourself with a beautiful property and fill it with beautiful things.  As founder of Fancey Fields, Lee Fancey, once said: “Life can be beautiful if you constantly force feed yourself nothing but beauty.”  Beautiful.  Simply beautiful.^

8 ^Expect the unexpected in Betaville, the city of innovation and surprises.  Our citizens have minds of their own, and they are not afraid to show it!  Whether at work or at play, you will always find someone to join you in this densely populated metropolis.  No one is ever wanting for company in Betaville!^

9 ^Charvatia is home to many eccentric and creative folks.  Capture the tropical essence of Charvatia in your bungalow.   Be inspired by the blazing sunsets filtered past the tiny offshore islands, which make up your new home in Charvatia!  Pick a property on the outside edge of the coral lagoon and see the surf's edge!  Or reside in the peaceful center where its placid waters are protected by the barrier reef!  Charvatia, sweet Charvatia - Make it your final destination!^

10 ^A sweet lullaby of white-capped waves crashing on sandy shores enchants this mysterious land of legend. Friends flock from far and wide to witness the imaginative spirit that captivates the hearts of the inhabitants. If you hold on to your hopes, strive to reach your dreams, and believe nothing is impossible, then begin your journey in Dragon’s Cove. But be forewarned: As a wise knightess once stated, “Do not meddle in the affairs of dragons, for you are crunchy and go well with ketchup!”^

11 ^Come, enjoy the rustic life at Rancho Rizzo!  Saddle up and hit the trail on miles and miles of ranch style acreage.  Make your homestead amidst the tumbleweeds and open plains.  Bordered uniquely by 2 coastlines to the northeast and southwest, Rancho Rizzo has plenty for everyone seeking that rustic, rough ridin’ lifestyle.  Lay your claim to a plot of land and call Rancho Rizzo your home.^

12 ^Welcome to “The Land of a Billion and a Half Lakes”, beautiful, rustic Zavadaville!  Whether you prefer the salt water ocean or fresh water lakes, Zavadaville has something for you!  Former home of salt mines and caviar farms, Zavadaville now boasts the world’s largest combined industry of collectible salt shakers and snack crackers!  Plenty of beachfront property highlights this beautiful, emerald oasis.  If small time charm and the rustic life is what you desire, Zavadaville is for you!^

13 ^All Hail the glorious region that historians refer to as Queen Margaret’s!  Never will you see a more beautiful city than the one named for its equally beautiful Matriarch, Queen Margaret.  Full of wonder and visual delight, this area is rich in both tradition and history.  Legend has that the first colony of Sims was established along the banks of the Ng River, which cuts through the unblemished emerald landscapes.  Marvel at the snow capped peaks of Mt. Highness and gaze upon the placid aura of the Dynasty Delta.  Whether you are of royal or common bloodline, Queen Margaret’s is the place for you!^

14 ^Welcome to the futuristic landscape of Shannopolis!  Pioneers of futuristic thinking choose to congregate on the multi-terrain landscape of this marvelous city.  Carve your niche in the snow-capped mountains of Polar Peaks, or comb your favorite beach and set up shop.   Crystal clear water and golden sand shores come together to form some of the area’s most highly sought after real estate.  Make your future now in Shannopolis!^

15 ^No other city can boast such cultural diversity as Grantley Grove!  Who are you to resist the charm and appeal of Grantley Grove?  Sure, you may have friends that live somewhere else, but between the two of us, we both know that they wish they lived in Grantley Grove.  Where else could you enjoy the snow, sun and surf all in the same location?  Weep at the beauty of the gorgeous coastline, become misty at the awesome splendor of Pixel Peak, then laugh at the misfortune of those that do not live there.^

16 ^Welcome to romantic Calvin’s Creek!  Tons of prime waterfront real estate lines this haven of tranquility.  If you like cool water and lush Elysian fields, Calvin’s Creek is the place for you to make your home.  White sandy beaches are yours for the taking.  Imagine a bedroom oceanic view and a sweeping, emerald back yard.  This all could be yours in Calvin’s Creek.^

17 ^The Billabong represents everything Australian...a pioneering spirit, mateship, unity and a relaxed, laidback lifestyle.  It's the kind of place you might drop in to say G'Day, and end up staying a while.  Whether you seek to make your fortune, build an empire or simply get together with mates for a good ol' chinwag, The Billabong is the place for you. So roll up your swag, bring along a few mates and head 'Down Under'.  Throw a shrimp on the barbie, catch up on the cricket score, forget about the hectic pace of the outside world, and simply enjoy some famous Aussie hospitality.  Everyone is welcome set up camp in The Billabong!^

18 ^Make your home in the futuristic settings amidst the misty peak of Mount Fuji!  Whether you are a creative cliff dweller or a visionary beach hermit, there is plenty of prime real estate for you here to begin your home of the future.  Develop your innovative 2012 ranch by Lake Biwa or bundle up your freeze-dried belongings and cutting edge experiments in Frigid Fields.  Whatever your season of preference, your ideal surroundings can be found in revolutionary Mount Fuji!^

19 ^If you desire the rustic lifestyle, choose the healthy life of Dan’s Grove.  This area, once home to fruit and nut tree plantations, is now considered to be some of the most desirable real estate property in all the land.  Adding to the attraction of this city is its moderate climate, green pastures and ice blue water.  Build your nest in beautiful Dan’s Grove!^

20 ^Known for its entertainment hot spots, Jolly Pines leaves everyone laughing about how wonderful life can be!  Come and join the fun by building your dream home or play space in the second happiest place on Earth!  You’ll be in stitches as you meticulously choose your plot of land from the many, many beautiful locations.  Decide upon your locale, build your house, make some friends, and you’ll be laughing!^

21 ^Welcome to beautiful historic Yatesport!  Once home to sardine canneries and offshore coral mining, Yatesport is now home to tuna canneries and offshore drilling!  Whether you desire the serene tropical lifestyle, or the work-a-day lifestyle of big industry, Yatesport has something special for you!  Dotted with mini island paradises and lush green hillsides, Yatesport is that small city with big city attitude!  Join the hustle and bustle of everyday life, or leave it all behind… all without ever leaving Yatesport!^

22 ^Enjoy all of the recreational splendors of lake living, minus the mosquitoes, at Landry Lakes!  Ever feel like getting away from it all?  Well, now’s your chance to join tens of thousands of people who feel exactly the same way!  Do you know the old saying which proclaims that the grass is always greener on the other side of the fence?  Well, THIS is the other side of the fence!  Enjoy the quiet solitude of Landry Lakes with lots and lots of your best friends!  Landry lakes, where recreation is King!^

23 ^Rolling hills of green and icy blue water can be your surroundings on this recreational paradise!  A moderate climate and warm, western breezes accentuate this lush, emerald paradise.  Plenty of coastline property and lakeside living are available.  Prefer the wide open spaces?  Nichol's Notch has an abundance of serene, pasture real estate.  Build the home of your dreams at Nichol's Notch.  Name your niche at Nichols Notch!^

24 ^Historians and history buffs alike desire the anthropologic appeal of this ‘land that time couldn’t forget’.  Rated by “Undeniably the Best Place to Live in the Universe Magazine” as: Undeniably the Best Place to Live in the Universe, King Canyons just might be the place for you!  Bow down before the awesome splendor of the Royal Rivers as they majestically wind their way through The Chosen One Bayou.  Build your estate in the Divinity Delta or nestle your homestead in the Plains of Unquestionable Greatness.  Become the King of your own castle in the land of King Canyons.^

25 ^Live the island life in the sun and fun of Virginia Islands.  Sunbathe on the white sand beaches or climb to the snowy crest of McArthur Peak.  Build your pleasure paradise in this lush, picture book fantasy land.  Plenty of desirable ocean and river side property is available.  Hurry! Make this vacation haven your permanent home!  The Virginia Islands await!^

26 ^ You'll feel as though you have entered the ultimate land of fantasy as you nestle your unrestrained fancy in the tranquil surroundings of Pixie Point. Play amongst the peaks, plains and powder in the petite, populous paradise of Lewis Lagoon!  Cool your toes in the snow covered highlands of the Hills of Ica or warm your body and soul at Pixie Dust Beach.  Take control of your destiny!  Produce the playground of your dreams at Pixie Point!^

27 ^Enter the fantasy world of West Darrington.  The elders claim that West Darrington was once the land of giants and dragons.  It is also rumored that Mount Darrington was once the climactic site of the legendary, epic gnome battle for control of the Golden Kettle. Who are we to argue?  Live the life of legend and folklore by building your haven here in West Darrington.  May the Wizards of Dondlefinger smile kindly upon you, and the Faeries of Chesterburg caress you with their silken wings.  Or, at the very least, may the Dwarves of Terror never steal the soul of tranquility which resides peacefully within your new home!^

28 ^Upper Shankelston is a recreational paradise!  Located just north of Lower Shankelston, Upper Shankelston puts the “U” in FUN!  The happy-go-lucky residents of this amazing city live for entertainment!  Come, add even more fun to their lives, and yours!  Snowy precipices, green rolling hills and tons of beachfront property make Upper Shankelston the place to meet for fun, fun, FUN!^

29 ^Well, we're living here in Albertstown.  They've torn all the factories down, and what a difference it has made!  Once a stale industry area, Albertstown is now a rejuvenated, palatial wonderland that is rich in history and tradition.  If you like taking a trip back in time to see how life was lived in an industrial age, maybe Albertstown is the place for you!  What was once a gray, smoky city is now a green and blue paradise.  If you are a history buff, or if you just like beautiful places, make your home in Albertstown.^

30 ^Terra Tablante was made for romantics like you!  Fall in love all over again when you bare witness to the green rolling hills, the powder blue water and the snow capped peaks of Terra Tablante.  Residents here love the serene setting, the tranquil lakes and the white sand beaches.  To not have lived in Terra Tablante is to not have loved.  Open your heart and build your love nest in Terra Tablante.^
