1  ^CSR Tools^
2  ^Eject^
3  ^House Name^	
4  ^Selected Avatars^
5  ^Entire Lot^
6  ^Avatars^
7  ^Message to Players^
8  ^Log Note^
9  ^Prevent non-CSR entry^
10 ^OK^
11 ^Cancel^
12 ^Check this box if you want to prevent non-CSR players from entering this lot until you leave.^

