1  ^Buy Property^
2  ^Please enter a name for your new property. The name has to be unique and can be later changed in the Property Page.^
3  ^The name you have entered is invalid. The following problem(s) have been found:^
4  ^- Name too short. Need at least 3 characters.^
5  ^- Name too long. At most 24 characters are allowed.^
6  ^- No numeric (0-9) characters are allowed.^
7  ^- Only one apostrophe (') allowed.^
8  ^- Only one dash (-) allowed.^
9  ^- Only two non-contiguous spaces allowed.^
10 ^- No special characters allowed.^
11 ^- A reserved or improper word has been detected.^
12 ^Cancel The Purchase^
13 ^Buy The Property^
14 ^Enter Parental Control Password to enter this as the property name.^
15 ^Password is incorrect.  Please try again.^
16 ^Wrong Password.^
