1  ^Change Property Name^
2  ^Please enter a new name for your Property. Remember that the name has to be unique and follow certain guidelines.^
3  ^The name you have entered is invalid. The following problem(s) have been found:^
4  ^- Name too short. Need at least 3 characters.^
5  ^- Name too long. At most 24 characters are allowed.^
6  ^- No numeric (0-9) characters are allowed.^
7  ^- Only one apostrophe (') allowed.^
8  ^- Only one dash (-) allowed.^
9  ^- Only two non-contiguous spaces allowed.^
10 ^- No special characters allowed.^
11 ^- A reserved or improper word has been detected.^
12 ^Cancel Changes^
13 ^Save New Name^
14 ^Property Name Change Failed^
15 ^The Property name you have requested could not be set. Someone has already taken it and therefore it is not unique...^
16 ^Enter Parental Control Password to change the property name.^
17 ^Password is incorrect.  Please try again.^
18 ^Wrong Password.^
