1  ^Don't Show Any More Hints^
2  ^Hint^
3  ^You can create and keep up to three different Sims to represent you in The Sims Online, but you can only play one at a time. Click one of the "Create a New Sim" buttons to begin creating your first alter-ego.^
4  ^Hint^
5  ^Before you create your first Sim, choose where you would like this Sim to live. Your Sim will live their entire life in the city you choose. If you plan on playing with real-life friends, ask them which city their Sim is on so you can create a Sim on that city too. Each city can have thousands of residents and can develop into unique communities, depending on the Sims who live there. The game rules are the same for all cities, so you may want to pick one that sounds interesting to you. If you want to learn more about the flavor of an individual city, explore TheSimsOnline.com.^
6  ^Hint^
7  ^Create an alter-ego to represent you in The Sims Online. You can have up to three Sims, but you can only play one at a time. The name and head you select here will be permanent and will be the identity other players know you by. You will be able to change clothes using various costume trunks and edit your Sim profile later.^
8  ^Hint^
9  ^Welcome to your new city! Explore the world a little and get a feel for what kinds of places and people are here. The pulsing lights indicate where the other players are right now. Hit the "Most Popular Places with Welcome Category" filter (looks like 2 hands shaking) to see what some of the local welcome hotspots are.  These locations are owned by people who have chosen to specialize in welcoming new players. Pick one that sounds interesting to go visit.^
10 ^Hint^
11 ^Okay, now you've made it to where the action is. To chat with the other Sims, just start typing and press return. To interact with them, click on them to see a menu of options. To make your Sim do a gesture, click on yourself. When you're ready to leave this property and go to another one, just use the zoom controls to go back out to the neighborhood or city view. Your Sim will stay on the lot and save your place. Or choose "Leave Lot" using the phone booth to take your Sim with you!^
12 ^Hint^
13 ^When you first buy a property, limited space will be buildable. The more roommates you get, the more you can upgrade the buildable space without penalty.^
14 ^Hint^
15 ^The property page allows you to learn more about a property and who is on it before entering. Click the Sim's picture in the expanded property page to find out more about the people that are currently inside. (A gray thumbnail means that roommate is not online.) Or to join the property, just click the big arrow.^
16 ^Hint^
17 ^Buyer beware: any roommate can delete architecture, regardless of who placed it. This applies to everything in build mode: walls, doors, windows, trees, fireplaces, etc… If a roommate covers over your prized floral wallpaper, you won't get a refund. 
To learn how to use any of the build tools, click the tool thumbnail and hold your cursor over it to bring up a help panel.^
18 ^Hint^
19 ^If your funds get low, you will not be able to quickly start a new Sim on this city. Tip: make sure you're committed to playing this Sim and understand what you'll need money for (for example, purchasing objects for yourself) before giving money to someone else. Unless you're sure you know this Sim, don't give him or her any significant amount of money. He or she could just be trying to scam money from you. Be certain of whom you trust enough to give your money to.^
20 ^Hint^
21 ^Since you have parental controls on, you will need to bookmark each Sim before you can see each others' chat. To bookmark someone, click their picture to bring up their Sim page, and then choose the bookmark checkbox. Once your parent enters the password, you and that Sim can chat away. When you're ready to leave this property and go to another one, just use the zoom controls to go back out to the neighborhood or city view. Your Sim will stay on the lot and save your place. Or choose "Leave Lot" using the phone booth to take your Sim with you!^
22 ^Hint^
23 ^To learn how to use any of the build tools, click the tool thumbnail and hold your cursor over it to bring up a help panel.^
24 ^Hint^
25 ^Each buy mode object is owned by one specific roommate. When you're in buy mode, you can click each object to see who owns it. You can move your roommate's objects, but you cannot delete them. If you move to a new property, your objects will move with you.^
26 ^Hint^
27 ^Where are all the people? They're in the properties that have a pulsing highlighted background.^
28 ^Hint^
29 ^When you leave a property using the zoom controls, your Sim is still there, and this window gives you a rear-view mirror to see what's happening there. To return to the property, click the window, and you'll immediately return. This allows you to come out to map view to investigate your options without losing your place.^
30 ^Hint^
31 ^Click the tab to choose whether to search for a Sim or property. If you know the name of the Sim or property *exactly*, choose exact match. Otherwise, do a wildcard search. Remember that you can only find Sims and properties on your city.^
32 ^Hint^
33 ^Looks like you need some money... and quickly! Activate the "Most Popular Places with Money Category" filter on the city to pick a place to start making some. Ask people who live there for help.^
34 ^Hint^
35 ^Your social motive is in a world of hurt! Find a property filled with people to make it climb back up quickly. Or if you'd prefer a quieter environment, join a group object or exchange some social moves with another friendly Sim.^
36 ^Hint^
37 ^When you're ready to leave this property and go to another one, just use the zoom controls to go back out to the neighborhood or city view. Your Sim will stay on the lot and save your place. Or choose "Leave Lot" using the phone booth to take your Sim with you!^
38 ^Hint^
39 ^Great. You've had your first visitor. Did you know you get paid for the amount of time people spend on your property? Each night the amount of time people spent on your lot is calculated, and if it's above a certain benchmark, you'll get a daily payout: the more time, the more bonus. If you have roommates, each roommate will get the full amount of the visitor bonus!^
40 ^Hint^
41 ^This solo object will allow you to make money. You can use these objects alone; however, you can increase the amount of money you earn by working with other people. If you are near other people who are working on similar objects, everyone will earn more money. The more people working with you, the more money everyone makes. Additionally, the higher your skill, the more money you will earn. There are many different types of solo job objects, and each of them has specific skill requirements to increase your payout. To make money faster, search out the group job objects. You'll find them in the "Top Money Makers" filter at city view.^
42 ^Hint^
43 ^The Sim page is the first place to come if you want to do or find out most anything about another Sim. For example, you can send them a message, bookmark them, ignore them, find out the age of their sim, their skills or where they live. You can open a player's Sim page by clicking on their picture anywhere in the game.^
44 ^Hint^
45 ^Nice work! That creativity point will increase your earnings potential at the "Concessione DiPizza" Professional Kitchen, the "Dimanche" Folding Easel and the Scrivener's Machinograph.^
46 ^Nice work! That logic point will increase your earnings potential at the Tomb Hunters of the Lost Llama, the Core Business Unit by PortoCorp, The "Concoctanation Station", and the QED Chalkboard.^
47 ^Nice work! That mechanical point will increase your earnings potential at the Core Business Unit by PortoCorp, and the KraftKing Woodworking Table, as well as reduce your repair costs.^
48 ^Nice work! That charisma point will increase your earnings potential at the Tomb Hunters of the Lost Llama, the "Concessione DiPizza" Professional Kitchen and the Telemarketing System.^
49 ^Nice work! That body point will increase your earnings potential at the Core Business Unit by PortoCorp, the "Concessione DiPizza" Professional Kitchen and the Piñata.^
50 ^Nice work! That cooking point will increase your earnings potential at the "Concessione DiPizza" Professional Kitchen and Auntie Betulia's Canning Kitchen.^
51 ^Hint^
52 ^You've just increased this Sim's social standing. They will need to make you a friend in order for you to move up in the social ranks too. Until you earn more friendships, you can only declare up to three friends, so choose who you give your friendship to selectively.^
53 ^How To Play^
54 ^Welcome to Heckhol Industrial Golem Fabrications! Your job is to produce high-tech coal-powered robots. ACTIVATE each work station along the assembly line to allow the robot to advance.

These work stations were built out of soda cans, spare tires, and old refrigerator parts, so they tend to break. You'll see when this occurs, 'cause the light at the top will blink. When that happens, use your logic skill to DIAGNOSE the problem and learn which tool will fix the workstation.  Scamper to a tool cabinet to get the right tool, and scurry back to the workstation. Now, use your mechanical skill to REPAIR it.

Your mood plays a factor in whether you succeed or fail. Just so you know.

All of this scampering and scurrying may be a bit inefficient for one person to do on their own. Fortunately, you have a few coworkers there to help you out. Try specializing in different tasks to see what works the best.

You get paid for every robot you complete. Good luck!^
55 ^Welcome to Nate's Lunchatorium, authentically serving you authentic lunch with the same authentic grills and authentic grease since 1932! Your job is to wait on visiting Sims, improve their mood, and get them on their way.

When a Sim enters the restaurant, they will seat themselves. Once they're seated, you can TAKE AN ORDER. You'll get a ticket. Deliver that ticket to the P.O.S. register (that's "Point of Sale", in case you were wondering), and the cooks in the kitchen will get straight to work on filling your order – that is, if they're not slacking off. If they are, give 'em a nudge to get 'em started again.

Meanwhile, you can interact with patrons to improve their mood. Happy Sims are big tippers, but don't push your luck. If you pester people (or ignore them), they're likely to leave without paying.

Remember, every good lunch starts with "lunchatorium"! That's Nate's Lunchatorium, conveniently located next to the SimCity General Hospital and the CDC.^
56 ^Welcome to Trader Jimmy's Tiki Lounge, where the elite meet to move their feet to the beat. Here at the nightclub, you're either a DJ or a DANCER attempting to entice Sims to shake their booties and dance the night away.

As a DJ, you'll use our state-of-the-art Technofrobicon 2000 Turntables to mix the music that makes Sims go ga-ga. Simply select a track from each instrument. It's just like punching in a pick on a jukebox.

As a DANCER, your creation and permutation of gyration will lead to elation, fascination, and admiration. In other words, get up on the Dance-O-Matic and "shake that thang." Once you get on the platform, you'll be able to select moves from a vast repertoire. However, don't just repeat the same move over and over. That's sure to drive the crowd away.

Each DJ and DANCER work as a team. You'll have to gauge the mood of the audience to figure out what works, and what doesn't. The DJ is looking for that one perfect mix of samples and beats per round, while the DANCER is trying to find the right three moves that makes Sims shake it.

The most popular team gets the most money. Pair up with a pal for plentiful payouts!^

