1 ^Categories^
2 ^Cancel^
3 ^Money: hard motives. Special objects: group jobs^
4 ^Offbeat: easy motives^
5 ^Romance: easy motives. Special object: vibrating beds^
6 ^Services: average motives. Motive gain: fastest. Special object: vibrating beds, crafting workbench^
7 ^Stores: average motives^
8 ^Skills: hard motives. Skill gain: fastest^
9 ^Welcome: easy motives^
10 ^Games: easy motives^
11 ^Entertainment: easy motives. Special object: DJ Booth, Dance Floor^
12 ^Residence: average motives. Special object: vibrating beds^
13 ^No Category^
14 ^Coming Soon...Neighborhoods!^
