1 ^Band Test Message^
2 ^doh^
3 ^ray^
4 ^me^
5 ^fah^
6 ^soh^
7 ^lah^
8 ^te^
9 ^doh^
10 ^Rock On^
11 ^Sell Out^
12 ^BZZZZ^
13 ^Continue or Cash out^
14 ^Total Skill: %d.%02d    Current Earned: $%d^
15 ^The sequence is...^
16 ^Enter the sequence.^
17 ^Success! All teammates are paid^
18 ^Buzz Note! Song restarts!^
19 ^Waiting For Other Players^
20 ^Sorry, %s, wrong note!^
21 ^Charisma^
22 ^Body^
23 ^Creativity^
24 ^Creativity^
25 ^Charisma: %d.%02d^
26 ^Body: %d.%02d^
27 ^Creativity: %d.%02d^
28 ^Creativity: %d.%02d^
29 ^Time elapsed!  Song restarts!^
