1  ^Achievement Bonus^
2  ^Date^
3  ^Visitor Bonus^
4  ^Property Bonus^
5  ^Sim Bonus^
6  ^Total Bonus^
7  ^Scroll Up^
8  ^Scroll Down^
9  ^Here is a history of bonuses recently awarded to you^
10 ^Totals:^