1 ^Click to spin wheels^
2 ^Current Bet^
3 ^Click to increase bet^
4 ^Click to decrease bet^
5 ^Close^
6 ^Loading...^
7 ^Set the Odds^
8 ^House^
9 ^Player^
10 ^Click to cash out^
11 ^Cash in machine^
12 ^Current Odds^
13 ^Turn On^
14 ^Turn Off^
15 ^Viva PGT Payout Table^
16 ^"Gypsy Queen" Payout Table^
17 ^"Jack of Hearts" Payout Table^
18 ^Bet a coin and click Spin to play^
19 ^Click Spin to play^
20 ^Turn On/Off^
21 ^Your bet: $%i^
22 ^Closed for Maintenance^
23 ^Please play another machine^
24 ^Slot Machine Management^
25 ^Another winner! You win $%i!^
26 ^Luck is on your side! You win $%i!^
27 ^Congratulations! You win $%i!^
28 ^You're a winner! You win $%i!^
29 ^Fate smiles upon you! You win $%i!^
30 ^Sorry, try again.^
31 ^Better luck next time!^
32 ^Never fear, your luck will turn.^
33 ^Ill fortune won't last forever!^
34 ^Spin again, you may win!^
35 ^Any^
36 ^%i X Bet^
