1  ^Place your bets... ^
2  ^Dealing.^
3  ^Your turn.^
4  ^'s turn.^
5  ^' turn.^
6  ^Hit^
7  ^Stand^
8  ^Split^
9  ^Double down^
10 ^After this round, the table will close.^
11 ^You win $%d.^
12 ^%s wins $%d.^
13 ^Would you like to buy insurance?^
14 ^Place bet^
15 ^Add $%d to bet^
16 ^Total Bet:^
