1  ^Try on the selected Item^
2  ^Purchase the selected Item^
3  ^Rack's Name^
4  ^Item Price^
5  ^Purchase Item^
6  ^Nice choice! Do you want to put it on right now?^
7  ^Browsing the Rack...^
8  ^That Outfit isn't for your gender.^
9  ^You can't afford that Item.^
10 ^You have no more room in your Backpack.^