1  ^Delete the selected Outfit^
2  ^Stock this Rack with the selected Item^
3  ^Switch to Male Outfit Catalog^
4  ^Switch to Female Outfit Catalog^
5  ^Set Rack Name^
6  ^Set Item Price^
7  ^Add Item^
8  ^Do you want to stock your Rack with this Item?^
9  ^Delete Item^
10 ^Do you want to remove this Item from your Rack?^
11  ^Sorry, you cannot afford to stock your Rack with this Item.^
12  ^There is no more room in this Rack.^
13  ^You can't afford to add that Item.^
14  ^Stocking this item will cost $^