1  ^Delete the selected item from your Backpack^
2  ^Change to the selected item^
3  ^Switch to Daywear^
4  ^Switch to Swimwear^
5  ^Switch to Sleepwear^
6  ^Set as default for this category^
7  ^Delete item^
8  ^Do you really want to permanently remove this item?^
9  ^Head Accessory^
10 ^Back Accessory^ 
11 ^Foot Accessory^
12 ^Tail Accessory^
