1  ^Unknown Category^
2  ^Unknown Category^
3  ^Unknown Category^
4  ^Unknown Category^
5  ^Unknown Category^
6  ^Unknown Category^
7  ^Unknown Category^
8  ^Unknown Category^
9  ^Uncategorized^
10 ^Miscellaneous^
11 ^Player Using Your Object^
12 ^Object You Used^
13 ^Cheating^
14 ^Miscellaneous^
15 ^Object Refill Or Maintenance^
16 ^Object You Used^
17 ^Player To Player^
18 ^Player Using Your Object^
19 ^Object You Used^
20 ^Player Using Your Object^
21 ^Object You Used^
22 ^Player Using Your Object^
23 ^Object You Used^
24 ^Player Using Your Object^
25 ^Object You Used^
26 ^Player Using Your Object^
27 ^Object You Used^
28 ^Player Using Your Object^
29 ^Object You Used^
30 ^Player Using Your Object^
31 ^Object You Used^
32 ^Player Using Your Object^
33 ^Object You Used^
34 ^Service Person Fee^
35 ^Gardener Fee^
36 ^Maid Fee^
37 ^Repairman Fee^
38 ^Butler Fee^
39 ^Job Wages^
40 ^Robot Factory Wages^
41 ^Restaurant Wages^
42 ^Nightclub Wages^