1 ^Can't get to work!^
2 ^The job search failed to search for your job type.^
3 ^The job search failed to find job information about your sim.^
4 ^The job search failed to find a job lot requiring your services.^
5 ^The job search failed to create an important lock on your job.^
6 ^Construction on the highway is preventing you from going to work. Plus, the bridge is out. And dreaded, fearsome gnomes have taken over the tollbooths, and barred anyone from passing. Did we mention the locusts? Oh, there are locusts all right. Scads of them. The size of your fist. We’re really sorry. You may try to join a work lot in a few minutes, but our certified traffic prognosticators can’t guarantee that the situation will improve during this Sim day.^
7 ^The job search failed to create and activate your job.^ 
8 ^The job search failed to add you to the employee list.^
9 ^Thanks for visiting this job lot. Unfortunately, you don't have the proper job type to work here. You may stick around and watch, or give another location a chance.^
10 ^Thanks for visiting this job lot. Unfortunately, you don't have the proper job grade to work here. You may stick around and watch, or give another location a chance.^
11 ^Thanks for visiting this job lot. Unfortunately, we have enough workers for now. You may wait til there is an opening, or give another location a chance.^
12 ^Thanks for visiting this job lot. Unfortunately, one of our employees is ignoring you. You may stick around and watch, or give another location a chance.^
13 ^Thanks for visiting this job lot. Unfortunately, you won't be able to work here. You may stick around and watch, or give another location a chance.^
14 ^Employment Application Denied^