// Job title strings. These are looked up programatically by generating 
// the string ID from the work type and work grade.  Because this damn
// mickey mouse file format just assigns string IDs sequentially the
// formula for generating these is a total hack:
// stringId = ((workType - 1) * 11) + workGrade + 1

// robot factory worker
1 ^Drone^
2 ^Golem Fabricator^
3 ^Machina Assembler^
4 ^Robomatic Builder^
5 ^Futurebot Constructor^
6 ^Droid Designer^
7 ^Lead Buildineer^
8 ^Silicon Engineer^
9 ^Data Researcher^
10 ^Android Assembler^
11 ^Supra Genius^

// waiter
12 ^Scatterbrained Server^
13 ^Capable Waitron^
14 ^Dean of Diners^
15 ^Suitable Server^
16 ^Wily Waitron^
17 ^Superior Server^
18 ^Head Waitron^
19 ^Swank Server^
20 ^Sommelier^
21 ^Maitre D'^
22 ^Master Maitre D'^

// cook
23 ^Cook grade 0^
24 ^Cook grade 1^
25 ^Cook grade 2^
26 ^Cook grade 3^
27 ^Cook grade 4^
28 ^Cook grade 5^
29 ^Cook grade 6^
30 ^Cook grade 7^
31 ^Cook grade 8^
32 ^Cook grade 9^
33 ^Cook grade 10^

// dj
34 ^Lounge Lizard^
35 ^DJ^
36 ^Local Talent^
37 ^Club Kid^
38 ^Well-Seen Scenester^
39 ^Platter-spinner^
40 ^Underground Hero^
41 ^VJ^
42 ^Prime-Time^
43 ^Mixmaster^
44 ^Superstar^

// dancer
45 ^Hoofer^
46 ^Foot Shuffler^
47 ^Local Talent^
48 ^Dancer^
49 ^Rug-Cutter^
50 ^Video Extra^
51 ^Prime Prancer^
52 ^Choreographer^
53 ^TV Star^
54 ^Chief Choreographer^
55 ^Superstar^
