// kTSOAssetStringFWebControls
1 ^Max Links Earned^
2 ^Back to Last Sim^
3 ^Close the Relationship Web^
4 ^Center Web On Your Sim^
5 ^Friends^
6 ^Enemies^
7 ^^
8 ^^
9 ^1^
10 ^2^
11 ^3^
12 ^4^
13 ^5^
14 ^6^
15 ^7^
16 ^8^
17 ^Switch to Page 1^
18 ^Switch to Page 2^
19 ^Switch to Page 3^
20 ^Switch to Page 4^
21 ^Switch to Page 5^
22 ^Switch to Page 6^
23 ^Switch to Page 7^
24 ^Switch to Page 8^
25 ^View Incoming Relationships^
26 ^View Outgoing Relationships^
27 ^Incoming Relationships:^
28 ^How Other Sims Feel About You^
29 ^Outgoing Relationships:^
30 ^How You Feel About Other Sims^
31 ^Lifetime:^
32 ^Daily:^
33 ^Refresh Current Sim^
