// OJGlobals
// 309  Maxis Letter Subject Strings
1 ^Excused Absence?^
2 ^Where were you?^
3 ^Our sincere condolences^
4 ^Safety First^
5 ^Job Performance Review^

// 310  Maxis Letter Body Strings
6 ^We noticed that you left work during a round. We assume that you had to go home due to illness, panda attack, or other unexpected misfortune.
You have %s excused absence(s) remaining this month.
You use an excused absence when you leave a job, before a round is over. If you use more than %s you might find it difficult to get promoted. You might even be demoted. Excused absences are reset on the first of every month.
REMEMBER: You can leave work during intermission without penalty.^
//$Local:1  $Local:2

7 ^Great Caesar's Ghost! Your absenteeism has gotten out of hand. You have left work early %s times this month. I hope you know that this will go down on your permanent record.
You have ZERO excused absences remaining this month. If you don't think you'll be able to complete a round, you should leave the lot during intermission. If you use too many excused absences, you may find it difficult to get promoted. You might even be demoted. Excused absences are reset on the first of every month.^
// $Local:3 

8 ^We are very sorry to hear about your sudden and unexpected loss of life and / or limb at the workplace. Should you find yourself once again amongst the living, you will keep your current job and grade.
You have been ejected from the workplace because you are a ghost. If you visit a shaman or wait a few hours, you can be revitalized. You can take this opportunity to visit other lots. However, you can not work while dead. The company recommends that you avoid becoming deceased at work in the future.^

9 ^You have been ejected from the workplace because you were sleeping on the job.  You can not work while asleep. The company recommends that you avoid sleeping at work in the future.^

10 ^You have been ejected from the workplace because you were demoted.  Your skills, experience, and friendships are no longer sufficient for this job grade.^

11 ^Information about your new job^

12 ^Please keep this information handy in case you need to need to refer to it again.
Current Job Type:  %s %s
Title: %s
Hours: %s from %s to %s, carpool after %s
Next promotion: %s^

