// Language Markup Strings for Maxis Roommate Letters

// case kMSGID_AskInviteeToAcceptRMInvite:

// N.B. The text for the in house invite confirmation exists in the social2siminteractions.iff string table.


	// letter subject
	1 ^Roommate Invitation Request^

	// letter txt
	2 ^You have been invited to become %s's roommate while you were offline!
To learn more about what this invitation means, and to accept or reject this offer, please click on the "Reply" button for details.^
	// letter from
	3 ^Inviter^


//case kMSGID_TellInviterInviteeRejectedRMInvite:
	// letter subject
	4 ^Roommate Invitation Rejected^

	// letter txt
	5 ^This Sim has declined your invite to become a roommate. Perhaps another trustworthy friend is available.^

	// letter from
	6 ^Inviter^



// case kMSGID_TellInviteeSetAcceptRMFailed:
	// letter subject
	7 ^Roommate Invitation Canceled^

	// letter txt
	8 ^There was an error when trying to make you this Sim's roommate. Roommate invitation was canceled.^

	// letter from
	9 ^Inviter^

// case kMSGID_TellInviterSetPendingRMFailed_NoOwnerLot:
	// letter subject
	10 ^Roommate Invitation Canceled^

	// letter txt
	11 ^There was an error when trying to make you this Sim's roommate. Roommate invitation was canceled.^

	// letter from
	12 ^Invitee^


// case kMSGID_TellInviteeSetAcceptRMSucceeded:
	// letter subject
	13 ^Roommate Invitation Complete^

	// letter txt
	14 ^You are now this Sim's roommate! Many benefits come from having additional roommates. For example, it is now cheaper to upgrade your buildable space. Enjoy having a new roommate!^

	// letter from
	15 ^Inviter^


// case kMSGID_TellInviterSetAcceptRMSucceeded:
	// letter subject
	16 ^Roommate Invitation Complete^

	// letter txt
	17 ^This Sim is now your roommate! Many benefits come from having additional roommates. For example, it is now cheaper to upgrade your buildable space. Enjoy having a new roommate! And don't forget that the property owner has kick-out power and control over build privilege for each roommate.^

	// letter from
	18 ^Invitee^


// case kMSGID_TellOwnerKickoutRMSucceeded:
	// letter subject
	19 ^Roommate Kick-out Complete^

	// letter txt
	20 ^You have successfully kicked out this Sim. There are some game play consequences to kicking out a roommate. Their objects will be slated for deletion and removed from your lot. Perhaps another trustworthy friend can move in.^

	// letter from
	21 ^Former Roommate^


// case kMSGID_TellOwnerKickoutRMFailed:
	// letter subject
	22 ^Roommate Kickout Canceled^

	// letter txt
	23 ^There was an error when trying to kick-out this Sim. Kick-out aborted.^

	// letter from
	24 ^Roommate^


// case kMSGID_TellRoommateTheyWereKickedout:
	// letter subject
	25 ^Roommate Kickout Complete^

	// letter txt
	26 ^Your roommate status has been revoked by the lot owner! You are no longer a roommate - you are now homeless. All of your objects that were in the lot have been automatically moved to your inventory. If you are in need of money, you can sell-off objects in your inventory. You can choose to become roommates on another lot, or start a property of your own. However, you can still visit other properties in the city without being an owner or roommate.^


	// letter from
	27 ^Owner^


// case kMSGID_TellRMThatRMMovedOut:
	// letter subject
	28 ^Roommate Moveout Complete^

	// letter txt
	29 ^This Sim has moved out of your property and is no longer a roommate. There are some game play consequences when a roommate moves out. Their objects will be slated for deletion and removed from your lot. Perhaps another trustworthy friend can move in.^

	// letter from
	30 ^Former Roommate^

// case kMSGID_TellRMKickoutRM:
	// letter subject
	31 ^Roommate Kickout Complete^

	// letter txt
	32 ^This Sim has been kicked out of your property by the lot ownerand is no longer a roommate. There are some game play consequences when a roommate is kicked out. Their objects will be slated for deletion and removed from your lot. Perhaps another trustworthy friend can move in.^

	// letter from
	33 ^Former Roommate^


// case kMSGID_TellRMNewRM:
	// letter subject
	34 ^Roommate Invite Complete^

	// letter txt
	35 ^This Sim has joined your property as a roommate. Many benefits come from having additional roommates. For example, it is now cheaper to upgrade your buildable space. Enjoy having a new roommate!^

	// letter from
	36 ^New Roommate^

// case kMSGID_TellRoommateMoveOutSucceeded:
	// letter subject
	37 ^Roommate Move-out Complete^

	// letter txt
	38 ^You have successfully moved yourself out! You are no longer a roommate or a property owner. If you were the owner, and you had roommates, the longest-standing roommate is now the owner of the lot. All of your objects that were in the lot have been automatically moved to your inventory. Someone can now invite you to become a roommate, or you can purchase a property of your own. You can still visit other properties in the city without being an owner or roommate. If you need money, visit any property in the city and go to Buy mode to sell objects in your inventory.^


	// letter from
	39 ^Self^


