; This is the graveyard of hard coded strings.  These strings used to live in
; the code, but localization forced the out.

// DDDSimsView
1 ^Suspend Object Files - Server^
2 ^Suspend Object Files - Client^
3 ^Click OK to reload object files^
4 ^Reload object Files - Server^
5 ^Reload object Files - Client^
6 ^Object file reload complete^
7 ^  Component Versions:  \n^

// SimsApp - PlatformMessageBox
8 ^Error initializing graphics system.  Click OK to quit.^
9 ^Error^
10 ^The Sims Online only runs in a window when the
desktop is set to 15 or 16 bit graphics mode
and is able to display the window completely on screen.
Would you like to have your screen temporarily modified
to support running the game?

Yes- to change mode.  No- to abort running the game.^
11 ^Desktop graphics mode is incompatible^
12 ^Cookies Prompt Enabled^
13 ^A system message may appear, you can experience problems if running in full-screen mode. Please change your cookies settings...^
14 ^Cookies Not Enabled^
15 ^Your system doesn't have cookies enabled. Please enable them to play TSO^

// HouseClient
16 ^Join process impossible (almost)...^
17 ^The house you are entering is using a different message protocol(%s) than you(%s).
You will probably have weird things happen.
You are going to quit, right?^
18 ^The city you are entering is using a different message protocol(%s) than you(%s).
You will probably have weird things happen.
You are going to quit, right?^
19 ^Runtime Version Mismatch^
20 ^Your runtime object version (%u) does not match your runtime code version (%u).
You probably just sync'ed your runtime directory only.
You are going to quit, right?^

// Frendship Web
21 ^Error encountered while initializing the Relationship Web.\n Closing the Web.
Closing the Web^
22 ^Relationship Web Error^

//RelationshipWebContextMenu
23 ^CSRs can only edit existing comments (not create new ones)...^
24 ^Error^


// SimsApp - Edith
25 ^Didn't find the Edith Editor DLL.^
26 ^Edith cannot be invoked in fullscreen mode.  Please run windowed to use Edith.^
27 ^Edith Editor^

// House
28 ^Failed to find the simulator chunk.  Sorry.^
29 ^Failed to find the floor graphics chunk.^
30 ^Failed to find the wall graphics chunk.^
31 ^Object Module load failed.  You might need a newer client.^
32 ^Failed to find house descriptor.^
33 ^Failed to find route records.^
34 ^Disconnecting, and shutting down. (%s)^
35 ^Network Error^
36 ^Failed to create room on server (No Simulators?). %s^

// ObjectModuleClient
37 ^House Load Error 1213^
38 ^These objects could not be loaded:^
39 ^\nThe owners of these objects have been reimbursed a total amount of $%d.^
