Runaway pet letters

1 ^We recently captured "%s", a runaway cat belonging to you. Given the creature's poor condition when we found it, we can only assume that you have been an unfit owner.  "%s" will be adopted by a more conscientious Sim. Please take better care of your pets in future. Regular feeding, petting and playing is all your little furry friend really requires.^
2 ^We recently captured "%s", a runaway dog belonging to you. Given the creature's poor condition when we found it, we can only assume that you have been an unfit owner.  "%s" will be adopted by a more conscientious Sim. Please take better care of your pets in future. Regular feeding, petting and playing is all your little furry friend really requires.^
3 ^We recently captured "%s", a runaway cat belonging to you. The cat had run away due to extreme hunger.  "%s" will be adopted by a more conscientious Sim. Please take better care of your pets in future. Regular feeding, petting and playing is all your little furry friend really requires.^
4 ^We recently captured "%s", a runaway dog belonging to you. The dog had run away due to extreme hunger.  "%s" will be adopted by a more conscientious Sim. Please take better care of your pets in future. Regular feeding, petting and playing is all your little furry friend really requires.^
5 ^We recently captured "%s", a runaway cat belonging to you. The cat had run away due to extreme social neglect.  "%s" will be adopted by a more conscientious Sim. Please take better care of your pets in future. Regular feeding, petting and playing is all your little furry friend really requires.^
6 ^We recently captured "%s", a runaway dog belonging to you. The dog had run away due to extreme social neglect.  "%s" will be adopted by a more conscientious Sim. Please take better care of your pets in future. Regular feeding, petting and playing is all your little furry friend really requires.^
7 ^We recently captured "%s", a runaway cat belonging to you. The cat had run away due to having nothing fun to do.  "%s" will be adopted by a more conscientious Sim. Please take better care of your pets in future. Regular feeding, petting and playing is all your little furry friend really requires.^
8 ^We recently captured "%s", a runaway dog belonging to you. The dog had run away due to having nothing fun to do.  "%s" will be adopted by a more conscientious Sim. Please take better care of your pets in future. Regular feeding, petting and playing is all your little furry friend really requires.^
9 ^Unnamed Kitty^
10 ^Unnamed Doggy^
11 ^MOMI (Animal Control Division)^