[submodule "Other/libs/FSOMonoGame"]
	path = Other/libs/FSOMonoGame
	url = https://github.com/riperiperi/FSOMonoGame.git
[submodule "Other/libs/FSOMina.NET"]
	path = Other/libs/FSOMina.NET
	url = https://github.com/riperiperi/FSOMina.NET.git
[submodule "Other/libs/assimp-net"]
	path = Other/libs/assimp-net
	url = https://github.com/kebby/assimp-net.git
