1 ^Sunrise Crater^
2 ^After the Test Center disaster of 2007, the city remained barren and lifeless for a whole decade, with onlookers merely biding their time for better days. However, not everyone was satisfied with standing on the sidelines, and many attempts were made to restore the city to its former glory. Years of redevelopment finally culminated in the bustling city you see today, with tight-knit neighbourhoods and a well connected road network. Monsoons, heatwaves, snowstorms, language inhibiting brain diseases... Sunrise Crater thrived through it all. Just don't mention the 8th December 2024 to anyone.^