<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="FSODroid.FSODroid" android:versionCode="1" android:versionName="1.0" android:installLocation="preferExternal">
	<uses-sdk android:targetSdkVersion="27" />
	<application android:label="FSODroid" android:icon="@drawable/Icon"></application>
</manifest>