<md-fab-toolbar count="toolbar.count" md-direction='left' class="md-fab-bottom-right">
    <md-fab-trigger class="align-with-text">
        <md-button aria-label="menu" class="md-fab md-primary">
            <md-icon ng-md-icon icon="menu"></md-icon>
        </md-button>
    </md-fab-trigger>

    <md-toolbar>
        <md-fab-actions class = "md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Upload Addon" ng-click="showCreateAddon($event)">
                <md-tooltip>Upload Addon</md-tooltip>
                <md-icon ng-md-icon icon="cloud_upload"></md-icon>
            </md-button>
        </md-fab-actions>
    </md-toolbar>
</md-fab-toolbar>

<md-toolbar ng-show="!showSearch">
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h3>
            Update Addons
        </h3>
        <span flex></span>
    </div>
</md-toolbar>
<md-content flex md-scroll-y>

    <md-table-container>
        <table md-row-select ng-model="selected" md-table ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder="onOrderChange">
                <tr md-row>
                    <th md-column md-order-by="addon_id"><span>ID</span></th>
                    <th md-column md-order-by="name"><span>Name</span></th>
                    <th md-column>Description</th>
                    <th md-column>Addon Zip Url</th>
                    <th md-column>Server Zip Url</th>
                    <th md-column>Creation Date</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="addon" md-select-id="addon_id" md-auto-select ng-repeat="addon in addons">
                    <td md-cell>{{addon.addon_id}}</td>
                    <td md-cell>{{addon.name}}</td>
                    <td md-cell>{{addon.description}}</td>
                    <td md-cell><a href="{{addon.addon_zip_url}}">{{addon.addon_zip_url}}</a></td>
                    <td md-cell><a href="{{addon.server_zip_url}}">{{addon.server_zip_url}}</a></td>
                    <td md-cell>{{addon.date | amCalendar}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{addons.total}}" md-on-paginate="onPaginationChange" md-page-select></md-table-pagination>






    <md-data-table-container>
        <table md-data-table md-row-select="selected" md-progress="">
            <thead md-order="query.order" md-trigger="onOrderChange">
                <tr>
                </tr>
            </thead>
            <tbody>
                <tr md-auto-select ng-repeat="addon in addons">
                    
                </tr>
            </tbody>
        </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{addons.total}}" md-trigger="onPaginationChange"></md-data-table-pagination>
</md-content>

