<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Net.Compilers.Toolset" version="3.1.0" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="SixLabors.Core" version="1.0.0-beta0008" targetFramework="net461" />
  <package id="SixLabors.ImageSharp" version="1.0.0-beta0007" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.1" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net461" />
</packages>