<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TSO_CityServer.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TSO_CityServer.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    
    <!--
      Database connections
    -->
    <connectionStrings>
        <!--Main database connection-->
        <add name="MAIN_DB" connectionString="Server=localhost;Database=tsocity;Uid=root;Pwd=root;" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    
    <!--
      Settings
    -->
    <appSettings>
      <!--Binding-->
      <add key="BINDING" value="0.0.0.0:2106" />
    </appSettings>
  
</configuration>