.login-logo {
    background: url(../assets/images/freeso-logo.png);
    background-size: 256px 64px;
    width:256px;
    height:64px;

    margin: 0 auto 20px auto;
}

.login-box {
    width:350px;
    margin: 40px auto;
}