.login-logo {
    background: url(../assets/images/freeso-logo.png);
    background-size: 187px 64px;
    width:187px;
    height:64px;

    margin: 0 auto;
    margin-bottom: 20px;
}

.login-box {
    width:350px;
    margin: 40px auto;
}