<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TSO_LoginServer.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TSO_LoginServer.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <!--
      Database connections
    -->
  <connectionStrings>
    <!--Main database connection-->
    <add name="MAIN_DB" connectionString="Server=localhost;Database=tso;Uid=root;Pwd=root;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

  <!--
      Settings
    -->
  <appSettings>
    <!--Binding-->
    <add key="BINDING" value="127.0.0.1:2106"/>
  </appSettings>

  <userSettings>
    <TSO_LoginServer.GlobalSettings>
      <setting name="ListeningIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="ListeningPort" serializeAs="String">
        <value>2106</value>
      </setting>
      <setting name="ClientVersion" serializeAs="String">
        <value>0.1.24.0</value>
      </setting>
    </TSO_LoginServer.GlobalSettings>
  </userSettings>
  <applicationSettings>
    <TSO_LoginServer.GlobalSettings>
      <setting name="CreateAccountsOnLogin" serializeAs="String">
        <value>True</value>
      </setting>
    </TSO_LoginServer.GlobalSettings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
