<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TSO_LoginServer.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TSO_LoginServer.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TSO_LoginServer.GlobalSettings>
            <setting name="CreateAccountsOnLogin" serializeAs="String">
                <value>False</value>
            </setting>
        </TSO_LoginServer.GlobalSettings>
    </applicationSettings>
    <userSettings>
        <TSO_LoginServer.GlobalSettings>
            <setting name="PatchServerPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PatchServerIP" serializeAs="String">
                <value />
            </setting>
        </TSO_LoginServer.GlobalSettings>
    </userSettings>
</configuration>