<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="Console" layout="${date:format=hh\:mm\:ss} ${logger} ${message}" detectConsoleAvailable="false" />
    <target name="file" xsi:type="File" layout="${date:format=hh\:mm\:ss} ${logger} ${message}" fileName="log/${shortdate}.log" keepFileOpen="false"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console,file" />
  </rules>
</nlog>