<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PDChat.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PDChat.GlobalSettings>
            <setting name="LoginServerIP" serializeAs="String">
                <value>173.248.136.133</value>
            </setting>
            <setting name="ClientVersion" serializeAs="String">
                <value>0.1.23.0</value>
            </setting>
            <setting name="DocumentsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientPath" serializeAs="String">
                <value />
            </setting>
        </PDChat.GlobalSettings>
    </userSettings>
</configuration>