1 ^Cheap^
2 ^You get what you pay for... in this case, not much. Thankfully, upgrades are available!^
3 ^Moderate^
4 ^A good all rounder, furniture that you can at least not be ashamed owning.^
5 ^Expensive^
6 ^Splash out for some extra benefits. If you have the money, it's definitely tempting.^
7 ^Very Expensive^
8 ^Equivalent to the best product in the catalog. Who says a metal chair can’t be comfy?^
9 ^Extra^
10 ^Adds a little something extra...^
11 ^Limited Edition^
12 ^Only available for a limited time! Buy now or forever hold your peace!^
13 ^Drivable^
14 ^This upgrade will give you a set of keys that let you drive this vehicle to other lots!^