1 ^Sandbox Mode^
2 ^New...^
3 ^Start Server^
4 ^Join a Server^
5 ^CAS^
6 ^Saved Properties^
7 ^Job Lots^
8 ^Hosts a server on port :37564 with the selected lot^
9 ^Create a sim to use in Sandbox Mode^