0 ^Heckhol Industrial^
1 ^Heckhol Industrial^
2 ^Heckhol Industrial^
3 ^Futurematic Automatons^
4 ^Futurematic Automatons^
5 ^Futurematic Automatons^
6 ^Futurematic Automatons^
7 ^Technocracy Technologies^
8 ^Technocracy Technologies^
9 ^Technocracy Technologies^
10 ^Technocracy Technologies^

100 ^Nate's Lunchatorium^
101 ^Nate's Lunchatorium^
102 ^Nate's Lunchatorium^
103 ^McDingus's^
104 ^McDingus's^
105 ^McDingus's^
106 ^McDingus's^
107 ^Walt's^
108 ^Walt's^
109 ^Walt's^
110 ^Walt's^

200 ^Trader Jimmy's Tiki Lounge^
201 ^Trader Jimmy's Tiki Lounge^
202 ^Trader Jimmy's Tiki Lounge^
203 ^Luxopolis^
204 ^Luxopolis^
205 ^Luxopolis^
206 ^Luxopolis^
207 ^209 RSP^
208 ^209 RSP^
209 ^209 RSP^
210 ^209 RSP^

1000 ^%s Job
---
%s (Level %s)
%s
%s^